@page
@model IndexModel
@{
    ViewData["Title"] = "Rezervace";
}

<div class="text-center">
    <h1 class="display-4">Rezervace vstupenek na akci</h1>
    <a asp-page="/Vstupenky/Pridat" class="btn btn-primary mt-3">Rezervovat</a>
</div>
